html,body,h1,h3,p,ul,li,img {
	margin: 0;
	padding: 0;
}
img{
	border:0;
}
a {
	text-decoration:none;
}
a:hover {
	color: #15c288!important;
}
ul {
	list-style:none;
}
input {
	padding-top:0;
	padding-bottom:0;
	vertical-align:middle;
}.clearfix:after {
	content:"";
	height:0;
	line-height:0;
	display:block;
	visibility:hidden;
	clear:both;
}
.clearfix {
	*zoom:1;
}
.fl {
	float:left;
}
.fr {
	float:right;
}